* {
	margin: 0px;
	padding: 0px;
}
body {
	padding-top: 0px;
	background-color: #326C41;
	/*color: #FFF;*/
	font-family: verdana, arial, sans-serif;
	color: #FFFFFF;
	text-align: left;
	letter-spacing: 1px;
}
a {color: #A92332;font-size: 14px;text-decoration:none;}
a:hover {color: #01a9c0;}
.more{float: right; font-size: 11px; color: #add8f9; font-weight: bold; text-decoration: none;}
.clear{clear:both;}
p{	margin: 20px 0px 20px 0px;line-height: 16px;font-size: 14px;}
#container {
	  margin-left: auto ;
  margin-right: auto ;
	width:873px;
}
.success
{
    color:green;
}
.fail
{
    color:red;
}
#Main-Container{
	width:750px;
	border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  box-shadow: 3px 3px 4px #000;
  -webkit-box-shadow: 2px 2px 3px #000;
  -moz-box-shadow: 2px 2px 3px #000;
 
  border: solid 4px #FFF;
    margin-left: auto ;
  margin-right: auto ;
}
#logo {
width:500px;

	text-align:center;
 margin-left: auto ;
  margin-right: auto ;
}

#Main{
	width:650px;
	height: 500px;
        margin-left: auto ;
        margin-right: auto ;
        text-align:center;
}
#Main h2{
	color: #d4e5f2;
	font-family: Arial;
	font-size: 18px;
	padding: 0 0 10px 5px;
}

#left {
	float:left;
	width:435px;
	margin: 0px 0px 0px 85px;
	display:inline;
}
#right {
	float:right;
	width:258px;
	height:auto;
	margin: 0px 62px 20px 0px;
	display:inline;
}
#right a img{
	margin: 8px 8px 8px 0px;
	border: none 0px #FFFFFF;
}
#menu-bar {
width:680px;
  margin: 0px 0px 0px 0px;
  padding: 6px 6px 0px 6px;
  height: 34px;
  line-height: 100%;
   border-radius: 15px 15px 0px 0px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  box-shadow: 2px 2px 3px #666666;
  -webkit-box-shadow: 2px 2px 3px #666666;
  -moz-box-shadow: 2px 2px 3px #666666;
  background: #508468;
  border: solid 4px #FFF;
   border-bottom:none; 
}
#menu-bar li {
  margin: 0 2px;
  padding: 0 0 2px;
  float: left;
  position: relative;
  list-style: none;
}
#menu-bar a {
  font-weight: bold;
  font-family: arial;
  font-style: normal;
  font-size: 12px;
  color: #E7E5E5;
  text-decoration: none;
  display: block;
  padding: 8px 15px;
  margin: 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  text-shadow: 2px 2px 3px #000000;
}
#menu-bar .current a, #menu-bar li:hover > a {
  background: #027BAB;
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr=#10D5EB, endColorstr=#0883FF);
  background: -webkit-gradient(linear, left top, left bottom, from(#10D5EB), to(#0883FF));
  background: -moz-linear-gradient(top,  #10D5EB,  #0883FF);
  color: #77A28B;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  text-shadow: 2px 2px 3px #FFFFFF;
}
#menu-bar ul li:hover a, #menu-bar li:hover li a {
  background: none;
  border: none;
  color: #666;
  -box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
#menu-bar ul a:hover {
  background: #0399D4 !important;
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr=#10D5EB, endColorstr=#0883FF);
  background: -webkit-gradient(linear, left top, left bottom, from(#10D5EB), to(#0883FF)) !important;
  background: -moz-linear-gradient(top,  #10D5EB,  #0883FF) !important;
  color: #000000 !important;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  text-shadow: 2px 2px 3px #FFFFFF;
}
#menu-bar ul {
  background: #DDDDDD;
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#CFCFCF);
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#CFCFCF));
  background: -moz-linear-gradient(top,  #FFFFFF,  #CFCFCF);
  display: none;
  margin: 0;
  padding: 0;
  width: 250px;
  position: absolute;
  top: 30px;
  left: 0;
  border: solid 1px #B4B4B4;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-box-shadow: 2px 2px 3px #222222;
  -moz-box-shadow: 2px 2px 3px #222222;
  box-shadow: 2px 2px 3px #222222;
}
#menu-bar li:hover > ul {
  display: block;
}
#menu-bar ul li {
  float: none;
  margin: 0;
  padding: 0;
}
#menu-bar ul a {
  padding:5px 0 5px 8px;
  color:#424242 !important;
  font-size:12px;
  font-style:normal;
  font-family:arial;
  font-weight: normal;
  text-shadow: 2px 2px 3px #FFFFFF;
}
#menu-bar ul li:first-child > a {
  border-top-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
}
#menu-bar ul li:last-child > a {
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
}
#menu-bar:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#menu-bar {
  display: inline-block;
}
  html[xmlns] #menu-bar {
  display: block;
}
* html #menu-bar {
  height: 1%;
}
#menu-bar ul li ul  {
	 left: 100%; top:0;
	background:#FFf;
}

table.center {
    margin-left:50%; 
    margin-right:auto;
  }
