<?xml version="1.0"?>
<!--
The OWASP CSRFGuard Project, BSD License
Eric Sheridan (eric@infraredsecurity.com), Copyright (c) 2011 
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice,
   this list of conditions and the following disclaimer.
2. Redistributions in binary form must reproduce the above copyright
   notice, this list of conditions and the following disclaimer in the
   documentation and/or other materials provided with the distribution.
3. Neither the name of OWASP nor the names of its contributors may be used
   to endorse or promote products derived from this software without specific
   prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 -->
<taglib xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-jsptaglibrary_2_0.xsd" version="2.0">
	<tlib-version>1.2</tlib-version>
	<jsp-version>2.0</jsp-version>
	<short-name>Owasp CsrfGuard Tag Library</short-name>
	<tag>
		<name>token</name>
		<tag-class>org.owasp.csrfguard.tag.TokenTag</tag-class>
		<body-content>empty</body-content>
		<attribute>
			<name>uri</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>tokenname</name>
		<tag-class>org.owasp.csrfguard.tag.TokenNameTag</tag-class>
		<body-content>empty</body-content>
	</tag>
	<tag>
		<name>tokenvalue</name>
		<tag-class>org.owasp.csrfguard.tag.TokenValueTag</tag-class>
		<body-content>empty</body-content>
		<attribute>
			<name>uri</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>a</name>
		<tag-class>org.owasp.csrfguard.tag.ATag</tag-class>
		<dynamic-attributes>true</dynamic-attributes>
	</tag>
	<tag>
		<name>form</name>
		<tag-class>org.owasp.csrfguard.tag.FormTag</tag-class>
		<dynamic-attributes>true</dynamic-attributes>
	</tag>
</taglib>
